// Variables

//colors
$transparent:               transparent;
$white:                     #fff;
$caribbean-green:           #00cfa6;
$red-orange:                #ff4020;
$scarlet:                   #ff2400;
$firefly:                   #051115;
// fonts
$base-font-default:         'Pinup-Regular', sans-serif;
// Body
$base-text-color:           $firefly;
$base-background:           $white;
$base-font-family:          $base-font-default;
$font-size-base:            27px;
$line-height-base:          31px;
$base-min-width:            320px;
// Font-weight
$font-weight-900:           900;
$font-weight-500:           500;
