@import "../utils/variables";
@import "../utils/mixin";
@import "../utils/sample";

.bg-white {
  background: $white;
}

.bg-caribbean-green {
  background: $caribbean-green;
}

.bg-scarlet {
  background: $scarlet;
}

.text-white {
  color: $white;
}

.text-red-orange {
  color: $red-orange;
}

.title-sz-md {
  font-size: $font-size-base + 24;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-63 {
  margin-bottom: 63px;
}

.mb-65 {
  margin-bottom: 65px;
}

.ms-20 {
  margin-left: -20px;
}

.pe-160 {
  padding-right: 160px;
}

.mw-950 {
  max-width: 950px;
}

.w-100 {
  width: 100%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}


