@import "../utils/variables";
@import "../utils/mixin";

.bg-white {
  background: $white;
}

.bg-caribbean-green {
  background: $caribbean-green;
}

.text-white {
  color: $white;
}

.text-red-orange {
  color: $red-orange;
}

.position-absolute {
  position: absolute;
}

.open-sans-text {
  font-family: $font-open-sans;
}

.display-sm-block {
  display: none;

  @include breakpoint($mobile) {
    display: block;
  }
}

.display-sm-none {
  display: block;

  @include breakpoint($mobile) {
    display: none;
  }
}


