@import "../utils/variables";
@import "../utils/mixin";
@import "../utils/sample";

.main {
  background-image: url("../../images/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 40px 0;
}

.logo-body {
  margin-bottom: 50px;
}

.logo-content {
  display: flex;
}

.logo {
  display: flex;
}
