@import "../utils/variables";
@import "../utils/mixin";

#wrapper {
  overflow: hidden;
}

.page-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding: 60px 0;

  @include breakpoint($tablet) {
    padding: 20px 0;
  }
}

.object-fit-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.banner-body {
  max-width: 950px;
  width: 100%;
}

.banner-content {
  margin: 0 0 120px -5px;

  @include breakpoint($desktop) {
    margin: 0 0 120px -21px;
  }

  @include breakpoint($tablet) {
    margin: 0 0 80px -5px;
  }
}

.holder-link {
  margin-bottom: 63px;
}

.holder-services {
  padding-right: 160px;

  @include breakpoint($desktop) {
    padding-right: 110px;
  }

  @include breakpoint($tablet) {
    padding-right: 0;
  }
}

.star-decoration {
  top: 0;
  left: 0;
  right: 0;
}

.smoke-decoration-1 {
  bottom: -16%;
  left: 22%;
  width: 1150px;

  @include breakpoint($desktop) {
    bottom: 20%;
    left: 32%;
    width: 330px;
  }
}

.smoke-decoration-2 {
  bottom: 0;
  left: 10%;
  width: 1115px;
}

.smoke-decoration-3 {
  bottom: 0;
  left: 0;
  width: 1015px;

  @include breakpoint($desktop) {
    width: 405px;
  }
}

.smoke-decoration-4 {
  bottom: -13%;
  left: 28%;
  width: 845px;

  @include breakpoint($desktop) {
    bottom: 4%;
    left: 18%;
    width: 375px;
  }
}



