@import "../utils/variables";
@import "../utils/mixin";

.blocker {
  background-color: rgba(0,0,0,0.5);
}

.modal {
  padding: 0;
  max-width: 400px;
  box-shadow: none;
  border-radius: 0 0 5px 5px;

  a {
    &.close-modal {
      position: absolute;
      background: none;
      width: 16px;
      height: 16px;
      top: 17px;
      right: 24px;

      &:hover {
        opacity: 0.7;
      }

      &:before,
      &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 17px;
        width: 3px;
        background-color: $white;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.modal-body {
  padding: 26px 45px;

  @include breakpoint($mobile) {
    padding: 8px;
  }
}

.modal__title {
  font-size: $font-size-base - 9;
  line-height: $line-height-base - 8;
  text-align: center;
  background: $scarlet;
  padding: 16px 16px 10px;
  color: $white;
  text-transform: uppercase;

  @include breakpoint($mobile) {
    padding: 12px 11px 9px;
  }
}

.modal__subtitle {
  font-family: $font-family-roboto;
  font-size: $font-size-base - 9;
  line-height: $line-height-base - 10;
  font-weight: $font-weight-400;
  text-align: center;
  color: $shark;
  margin-bottom: 22px;
}

.contact-control {
  border: 1px solid $silver-chalice;
  border-radius: 4px;
  padding: 5px 10px 5px 16px;
  margin-bottom: 17px;
  position: relative;
}

.contact-control__label {
  font-family: $font-family-roboto;
  font-weight: $font-weight-400;
  font-size: $font-size-base - 15;
  line-height: $line-height-base - 15;
  color: $gray;
  position: absolute;
  top: -8px;
  left: 10px;
  z-index: 2;
  background: #fff;
  padding: 0 4px;
}

.contact-control__area {
  position: relative;
  display: flex;
}

.contact-control__input {
  font-family: $font-family-roboto;
  font-weight: $font-weight-400;
  font-size: $font-size-base - 12;
  line-height: $line-height-base - 16;
  padding: 5px 5px 5px 67px;

  &::placeholder {
    color: $nobel;
  }
}

.flag-icon {
  width: 30px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.prompt-number {
  font-family: $font-family-roboto;
  font-weight: $font-weight-400;
  font-size: $font-size-base - 11;
  line-height: $line-height-base - 13;
  color: $woodsmoke;
  top: 50%;
  left: 40px;
  transform: translate(0, -50%);
}


