@import "../utils/variables";
@import "../utils/mixin";
@import "../utils/sample";

.scroll-smoke {
  height: 740px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  white-space:nowrap;
  animation-name: scroll-smoke;
  animation-duration: 150s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.scroll-smoke__img {
  height: 100%;
}

@keyframes scroll-smoke {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000%);
  }
}




