@import "../utils/variables";
@import "../utils/mixin";

.services {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  width: 33.3%;
  padding: 0 50px 0 0;
  margin-bottom: 10px;
}

.services__link {
  display: flex;
  align-items: center;
  
  &:hover {
    .services__text {
      color: $emperor;
    }

    .services__icon {
      filter: contrast(52%);
    }
  }
}

.services__icon {
  max-width: 55px;
  width: 100%;
  margin-right: 11px;
}

.services__text {
  font-weight: $font-weight-500;
  font-size: $font-size-base - 6;
  line-height: $line-height-base - 10;

  @include breakpoint($tablet) {
    font-size: $font-size-base - 8;
  }
}