@import "../utils/variables";
@import "../utils/mixin";

.services {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($mobile) {
    justify-content: space-between;
  }
}

.services__item {
  width: 33.3%;
  margin-bottom: 10px;
}

.services__link {
  display: flex;
  align-items: center;
  
  &:hover {
    .services__text {
      color: $emperor;
    }

    .services__icon {
      filter: contrast(52%);
    }
  }
}

.services__icon {
  max-width: 55px;
  width: 100%;
  margin-right: 11px;

  @include breakpoint($mobile) {
    max-width: 23px;
    margin-right: 2px;
  }
}

.services__text {
  font-weight: $font-weight-500;
  font-size: $font-size-base;
  line-height: $line-height-base - 4;

  @include breakpoint($tablet) {
    font-size: $font-size-base - 3;
  }

  @include breakpoint($mobile) {
    font-size: $font-size-base - 15.5;
    line-height: $line-height-base - 19.5;
    color: $white;
  }
}