@import "../utils/variables";
@import "../utils/mixin";

.services {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($mobile) {
    justify-content: space-between;
  }
}

.services__item {
  margin-bottom: 10px;
  padding: 0 39px 0 0;

  @include breakpoint($tablet) {
    padding: 0 30px 0 0;
  }

  @include breakpoint($mobile) {
    padding: 0 2px 0 0;
  }

  &:first-child {
    width: 30%;

    @include breakpoint($mobile) {
      width: 35%;
    }
  }

  &:nth-child(2) {
    width: 35%;

    @include breakpoint($mobile) {
      width: 42%;
    }
  }

  &:last-child {
    width: 35%;

    @include breakpoint($mobile) {
      width: 23%;
    }
  }
}

.services__link {
  display: flex;
  align-items: center;
  
  &:hover {
    .services__text {
      color: $emperor;
    }

    .services__icon {
      filter: contrast(52%);
    }
  }
}

.services__icon {
  max-width: 55px;
  width: 100%;
  margin-right: 11px;

  @include breakpoint($mobile) {
    max-width: 23px;
    margin-right: 2px;
  }
}

.services__text {
  font-weight: $font-weight-500;
  font-size: $font-size-base - 1;
  line-height: $line-height-base - 5;

  @include breakpoint($tablet) {
    font-size: $font-size-base - 3;
  }

  @include breakpoint($mobile) {
    font-size: $font-size-base - 15.5;
    line-height: $line-height-base - 19.5;
    color: $white;
  }
}