@import "../utils/variables";
@import "../utils/mixin";

.share {
  display: inline-block;
  padding: 30px 48px;
  transform: rotate3D(-12, 5, -1, 27deg) skewX(-1deg) translateX(0px);
}

.share__content {
  font-size: $font-size-base + 34;
  line-height: $line-height-base + 43;
}

.share__price {
  font-size: $font-size-base + 57;
  line-height: $line-height-base + 43;
}