/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #fff;
  font-size: 27px;
  line-height: 31px;
  font-family: "Pinup-Regular", sans-serif;
  font-weight: 900;
  min-width: 320px;
  color: #051115; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  caption-side: top; }

a {
  color: #051115;
  text-decoration: none; }

button {
  cursor: pointer;
  border: none; }

:focus {
  outline: none; }

img {
  width: 100%;
  height: auto; }

input {
  outline: none;
  width: 100%;
  border: none; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Pinup-Regular';
  src: url("../../font/pinup/pinup-webfont.woff2") format("woff2"), url("../../font/pinup/pinup-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.container {
  margin: 0 auto;
  max-width: 1310px;
  padding: 0 15px;
  width: 100%; }

.bg-white {
  background: #fff; }

.bg-caribbean-green {
  background: #00cfa6; }

.text-white {
  color: #fff; }

.text-red-orange {
  color: #ff4020; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.open-sans-text {
  font-family: "Open Sans", sans-serif; }

.z-index-1 {
  z-index: 1; }

.small-sz-text {
  font-size: 51px !important;
  line-height: 62px !important; }
  @media only screen and (max-width: 1024px) {
    .small-sz-text {
      font-size: 37px !important;
      line-height: 42px !important; } }

.btn {
  display: inline-block;
  text-align: center;
  font-size: 25px;
  line-height: 31px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  border-radius: 10px;
  padding: 22px 30px;
  max-width: 357px;
  width: 100%;
  box-shadow: 0 2px 6px -1px #ff2400;
  transition: all .5s;
  background: #ff2400; }
  @media only screen and (max-width: 1024px) {
    .btn {
      font-size: 23px;
      line-height: 27px;
      padding: 18px 20px; } }
  .btn span {
    vertical-align: middle; }
  .btn:hover {
    box-shadow: 0 2px 11px 1px #ff2400;
    max-width: 370px; }

#wrapper {
  overflow: hidden; }

.page-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding: 60px 0; }
  @media only screen and (max-width: 1024px) {
    .page-content {
      padding: 20px 0; } }

.object-fit-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1; }

.banner-body {
  max-width: 950px;
  width: 100%; }

.banner-content {
  margin: 0 0 120px -5px; }
  @media only screen and (max-width: 1024px) {
    .banner-content {
      margin: 0 0 80px -5px; } }

.holder-link {
  margin-bottom: 63px; }

.holder-services {
  padding-right: 160px; }
  @media only screen and (max-width: 1200px) {
    .holder-services {
      padding-right: 110px; } }
  @media only screen and (max-width: 1024px) {
    .holder-services {
      padding-right: 0; } }

.star-decoration {
  top: 0;
  left: 0;
  right: 0; }

.smoke-decoration-1 {
  bottom: -16%;
  left: 12%;
  width: 1150px; }

.smoke-decoration-2 {
  bottom: 0;
  left: 10%;
  width: 1115px; }

.smoke-decoration-3 {
  bottom: 0;
  left: 0;
  width: 1015px; }

.smoke-decoration-4 {
  bottom: -13%;
  left: 28%;
  width: 845px; }

.header {
  margin-bottom: 65px; }

.logo {
  display: inline-block;
  max-width: 190px; }

.share {
  display: inline-block;
  padding: 30px 48px;
  transform: rotate3D(-11, 5, -1, 27deg) skewX(-1deg) translateX(0px); }
  @media only screen and (max-width: 1200px) {
    .share {
      padding: 25px 28px; } }

.share__content {
  font-size: 61px;
  line-height: 74px; }
  @media only screen and (max-width: 1024px) {
    .share__content {
      font-size: 42px;
      line-height: 50px; } }

.share__price {
  font-size: 84px;
  line-height: 74px; }
  @media only screen and (max-width: 1024px) {
    .share__price {
      font-size: 65px;
      line-height: 70px; } }

.services {
  display: flex;
  flex-wrap: wrap; }

.services__item {
  width: 33.3%;
  padding: 0 50px 0 0;
  margin-bottom: 10px; }

.services__link {
  display: flex;
  align-items: center; }
  .services__link:hover .services__text {
    color: #514d4d; }
  .services__link:hover .services__icon {
    filter: contrast(52%); }

.services__icon {
  max-width: 55px;
  width: 100%;
  margin-right: 11px; }

.services__text {
  font-weight: 500;
  font-size: 21px;
  line-height: 21px; }
  @media only screen and (max-width: 1024px) {
    .services__text {
      font-size: 19px; } }

.scroll-smoke {
  height: 740px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  animation-name: scroll-smoke;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.scroll-smoke__img {
  height: 100%; }

@keyframes scroll-smoke {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-1000%); } }

.move-rect {
  display: block;
  position: absolute;
  bottom: 0;
  width: 1100px;
  margin: 0 -910px 0 0; }
  @media only screen and (max-width: 1200px) {
    .move-rect {
      width: 960px; } }
  @media only screen and (max-width: 1024px) {
    .move-rect {
      width: 810px; } }

.modal {
  padding: 0;
  max-width: 400px;
  box-shadow: none;
  border-radius: 0 0 5px 5px; }
  .modal a.close-modal {
    background-image: url("../../images/close-icon.svg");
    width: 16px;
    height: 16px;
    top: 17px;
    right: 15px; }

.modal-body {
  padding: 26px 45px; }

.modal__title {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background: #ff2400;
  padding: 16px 16px 10px;
  color: #fff; }

.modal__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #323334;
  margin-bottom: 15px; }

.form-control .btn {
  font-size: 16px;
  line-height: 22px;
  box-shadow: none;
  border-radius: 2px;
  max-width: 100%;
  padding: 12px 13px;
  margin-bottom: 15px; }

.fieldset {
  border: 1px solid #a9a8a8;
  border-radius: 4px;
  padding: 5px 10px 5px 16px;
  margin-bottom: 17px;
  position: relative; }

.fieldset__label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
  position: absolute;
  top: -8px;
  left: 10px;
  z-index: 2;
  background: #fff;
  padding: 0 4px; }

.fieldset__form-area {
  position: relative;
  display: flex; }

.fieldset__input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  padding: 5px 5px 5px 67px; }
  .fieldset__input::placeholder {
    color: #b7b7b7; }

.flag-icon {
  width: 30px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%); }

.prompt-number {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #131516;
  top: 50%;
  left: 40px;
  transform: translate(0, -50%); }

.checkbox-body {
  padding: 16px 0 0 0;
  border-top: 1px solid #000; }

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .checkbox-container a {
    color: #ff2400;
    text-decoration: underline; }
    .checkbox-container a:hover {
      text-decoration: none; }
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .checkbox-container .check-mark:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 6px;
    height: 3px;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    transform: rotate(-50deg);
    display: none; }

.check-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: 15px;
  width: 15px;
  border: 1px solid #e4e4e4;
  border-radius: 4px; }
  .check-mark:after {
    content: "";
    position: absolute;
    display: none; }

.checkbox-container input:checked ~ .check-mark:after {
  display: block; }
