@import "../utils/variables";
@import "../utils/mixin";
@import "../utils/sample";

.btn {
  font-size: $font-size-base;
  line-height: $line-height-base;
  text-transform: uppercase;
  color: $white;
  border-radius: 9px;
  padding: 15px 30px;
}