@import "../utils/variables";
@import "../utils/mixin";
@import "../utils/sample";

.btn {
  font-size: $font-size-base - 2;
  line-height: $line-height-base;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  border-radius: 10px;
  padding: 22px 30px;
  max-width: 357px;
  width: 100%;
  box-shadow: 0 2px 6px -1px #FF2400;
  transition: all .5s;

  &:hover {
    box-shadow: 0 2px 11px 1px #FF2400;
    max-width: 370px;
  }
}